@font-face {
    font-family: Helvetica Neue, sans-serif;
    src: url(../fonts/Helvetica\ Neue\ Condensed\ Bold.ttf);
}

:root {
    --size-24: 24px;
    --size-20: 20px;
    --size-18: 18px;
    --line-height-22: 22px;
    --line-height-18: 18px;
    --main-color: #01601B;
    --font-weight-medium: 500;
    --fw-bold: 700;
}

.container {
    max-width: 1290px;
    width: 90%;
    margin: 0px auto;
}

header {
    position: relative;
    border-bottom: 1px solid black;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 55px 0px 55px;
}

.header-main-logo img {
    transition: 1.5s ease;
    cursor: pointer;
}

.header-main-logo img:hover {
    transform: scale(1.1);
    transition: 1.5s ease;
    filter: drop-shadow(2px 4px 6px #01601B);
}

.header-nav ul,
.header-logo-icons ul {
    display: flex;
    gap: 40px;
}

.header-nav a {
    text-decoration: none;
    color: black;
    font-size: var(--size-18);
    line-height: var(--line-height-22);
    text-transform: capitalize;
    font-family: Helvetica Neue, sans-serif;
    font-weight: 600;
    transition: 1.2s ease;
}

.header-nav a:hover {
    transform: scale(1.1);
    transition: 1.2s ease;
    filter: drop-shadow(1px 3px 18px #0a6802);
    ;
}

.header-bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.header-bottom-tree {
    position: absolute;
    top: 12%;
    left: 12%;
    transition: 1.2s ease;
}

.header-bottom-tree:hover {
    transform: scale(1.0);
    transition: 1.2s ease;
    filter: drop-shadow(3px 5px 13px #36794F);
}

.header-bottom-title {
    left: 50%;
    top: 50px;
    position: relative;
}

.header-social-icons {
    left: 88%;
    text-align: center;
    top: 60%;
    position: absolute;
}

.header-social-icons li:nth-child(2) {
    padding: 15px;
}

.header-bottom-buttons {
    display: flex;
    gap: 25px;
    margin-top: 50px;
}

.header-bottom-buttons button {
    border: 2px solid #01601B;
    border-radius: 10px;
    background-color: #01601B;
    color: white;
    padding: 15px 61px;
    cursor: pointer;
    transition: 1s;
}

.header-bottom-buttons button:hover {
    filter: drop-shadow(3px 5px 13px #01601B);
    transform: scale(1.2);
    transition: 1s;
}

.header-bottom-buttons button:nth-child(2) {
    margin-left: 25px;
}

.header-bottom-title h1 {
    font-size: 44px;
    line-height: 53px;
    font-family: Helvetica Neue, sans-serif;
    font-weight: 700;
    width: 472px;
}

.header-bottom-title p {
    font-size: var(--size-20);
    line-height: 30px;
    font-family: Helvetica Neue, sans-serif;
    width: 400px;
}


h2 {
    font-size: 36px;
    line-height: 44px;
    margin-top: 230px;
}

h3 {
    font-size: 19px;
    line-height: 23px;
}

.plant-card {
    position: relative;
    opacity: 1;
}

.plant-card:hover img {
    opacity: 0.5;
}

.plant-card button {
    border-radius: 10px;
    padding: 15px 61px;
    cursor: pointer;
    position: absolute;
    left: 20%;
    bottom: 20%;
    font-size: 19px;
    color: #0F6845;
    background-color: white;
    opacity: 0;
    transition: 1.0s;
}

.plant-card:hover button {
    opacity: 1;
    filter: drop-shadow(2px 4px 6px #0F6845);
    transform: scale(1.1);
    transition: 1.0s;
}

.plant-card:hover .plant-card-bottom {
    opacity: 1;
    background: #36794F
}

.plant-card-bottom {
    background-color: #36794F8C;
    display: flex;
    justify-content: space-between;
    padding: 5px 13px;
    color: white;
    width: 368px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}

.plant-card-bottom span {
    font-size: var(--size-18);
    line-height: var(--line-height-22);
}

.plant-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 62px 59px;
    margin: 35px 0 28px;
}

.plant-wrapper-bottom {
    text-align: right;
}

.plant-wrapper-bottom button {
    color: var(--main-color);
    font-size: var(--size-18);
    line-height: var(--line-height-22);
    text-decoration: underline;
    font-family: Helvetica Neue, sans-serif;
    font-weight: var(--font-weight-medium);
    cursor: pointer;
}

.plants-care-card img {
    filter: drop-shadow(2px 4px 6px green);
}

.plants-care-card-title {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    margin-top: 20px;
}

.plants-care-card-title h4 {
    font-size: var(--size-24);
    line-height: 29px;
    font-family: Helvetica Neue, sans-serif;
    font-weight: var(--fw-bold);
    width: 600px;
}

.plants-care-card-title p {
    font-size: var(--size-18);
    line-height: 20px;
    width: 627px;
    height: 80px;
    font-family: Helvetica Neue, sans-serif;

}

.plants-care-wrapper {
    display: flex;
    justify-content: space-around;
    gap: 25px;
    margin: 29px 0 29px;
}

.plant-accessories-card-information h5 {
    font-size: 36px;
    line-height: 44px;
    font-family: Helvetica Neue, sans-serif;
    font-weight: var(--font-weight-medium);
}

.plant-accessories-card-information {
    position: absolute;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 101px;
}

.plant-accessories-card-title {
    background-color: #ECF1EE;
    border-radius: 16px;
    width: 744px;
}

.plant-accessories-card-title p {
    font-size: var(--size-20);
    line-height: 24px;
    font-family: Helvetica Neue, sans-serif;
    height: 123px;
    padding: 91px 154px 92px 108px;
    background-color: #ECF1EE;
}

.plant-accessories-card-title .title-bottom {
    padding: 12px 133px 172px 108px;
}

.plant-accessories-card {
    display: flex;
    position: relative;
    margin: 105px 0px 195px;
}

.plant-accessories-card img {
    filter: drop-shadow(2px 4px 6px #255338);
}

footer {
    background-color: #255338;
}

.footer-top {
    display: flex;
    padding-top: 37px;
}

.footer-right-information {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.footer-right-information ul {
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding-top: 17px;
}

.footer-logo {
    display: flex;
    flex-direction: column;
    gap: 97px;
}

.footer-logo img:hover {
    transform: scale(1.1);
    transition: 1.5s ease;
    filter: drop-shadow(2px 4px 6px white);
}

.footer-logo img {
    transition: 1.5s ease;
}

.footer-logo p {
    color: white;
    font-size: var(--size-18);
    line-height: var(--line-height-22);
    font-family: Helvetica Neue, sans-serif;
    font-weight: 600;
}

.footer-input {
    background-color: #255338;
    border: 1px solid white;
    border-radius: 10px;
    padding: 15px 123px 15px 15px;
}

.footer-email {
    position: relative;
    margin: 21px 0 55px;
}

.footer-email img {
    position: absolute;
    left: 50%;
    top: 40%;
}

.footer-social-icons {
    color: white;
    display: flex;
    gap: 25px;
    padding-bottom: 33px;
    align-items: center;
}

.footer-top h6 {
    font-size: var(--size-18);
    line-height: var(--line-height-22);
    color: white;
    font-family: Helvetica Neue, sans-serif;
    font-weight: var(--fw-bold);
}

.footer-top a,
.footer-bottom a {
    text-decoration: none;
    color: white;
    font-size: var(--size-18);
    line-height: var(--line-height-22);
    font-family: Helvetica Neue, sans-serif;
}

.footer-bottom {
    border-top: 1px solid white;

}

.footer-bottom-right-information {
    padding: 23px 0 21px;
}

.footer-bottom-right-information ul {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.contact-wrapper-main-image {
    position: relative;
    width: 100%;
}

.contact-card {
    background: #01601B80;
    border: solid #01601B80;
    position: absolute;
    height: 987px;
    width: 90%;
    top: 52%;
    left: 90px;
}

.contact-card h1 {
    font-size: 30px;
    line-height: 36px;
    color: white;
    font-family: Helvetica Neue, sans-serif;
    font-weight: var(--fw-bold);
    text-align: center;
    padding: 28px 0 114px;
}

.contact-box ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    padding-top: 50px;
}

.contact-box-icons img:hover {
    transform: scale(1.2);
    transition: 1.2s;
    filter: drop-shadow(2px 4px 6px white);
}

.contact-box-icons img {
    transition: 1.2s;
}

.contact-box-icons-information li {
    font-size: 26px;
    line-height: 32px;
    font-family: Helvetica Neue, sans-serif;
    font-weight: 600px;
    color: white;
}

.form-wrapper input {
    border-radius: 16px;
    border: solid #FFFFFF;
    width: 294px;
    height: 40px;
}

.form-wrapper label {
    font-size: 16px;
    line-height: 20px;
    color: white;
    font-family: Helvetica Neue, sans-serif;
    font-weight: 600;
}

.contact-wrapper {
    margin-top: 194px;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    gap: 11px;
}

.contact-input {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 52px;
    padding: 163px 0 60px;
}

textarea {
    border-radius: 12px;
}

.form-textarea {
    grid-column: 1/3;
}

.contact-map-title {
    font-size: 30px;
    line-height: 36px;
    font-family: Helvetica Neue, sans-serif;
    font-weight: var(--fw-bold);
    margin: 69px 0 55px;
    text-align: center;
}

.contact-map {
    text-align: center;
    border: 1px solid #01601B;
    padding: 64px 0 83px;
    width: 1043px;
    height: 578px;
}

iframe {
    width: 877px;
}

.contact-map-box {
    margin-left: 100px;
    margin-bottom: 97px;
}